@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Space Mono", Monaco, monospace;
    background: black;
    color: #5da75d;
    font-size: 16px;
}

.cell:focus {
    outline: none;
    background: rgb(0 0 255 / 40%);
}

.highlight {
    background: rgb(0 0 255 / 20%);
}

.cell.has-error {
    color: rgba(221, 54, 54, 0.712);
}

.cell.is-active {
    color: white;
}
